.Main {
  display: grid;
  display: flex;
  grid-template-columns: repeat(auto-fill, 250px);
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
